/*
============================================
My Contacts Page Styling Deluxe Edition 2000
============================================
*/

@import url("https://fonts.googleapis.com/css2?family=Agbalumo&family=Oswald&display=swap");

/*
=======================================================
Body, Main & Div Containers + General stuff
=======================================================
*/

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.container {
  background-color: rgb(49, 103, 139);
  border: 1px solid black;
  grid-area: 1 / 2;
}

.container h1 {
  text-align: center;
  font-family: "agbalumo", sans-serif;
  font-size: 50px;
}

.add {
  background-color: rgb(150, 150, 150);
  border-top: 1px solid black;
  padding-bottom: 15px;
}

.add h3 {
  text-align: left;
  padding: 5px;
  font-family: "oswald", sans-serif;
  font-size: 25px;
}

#saved {
  background-color: rgb(150, 150, 150);
  border-top: 1px solid black;
  display: block;
  padding-bottom: 20px;
}

#saved h3 {
  padding: 5px;
  font-family: "oswald", sans-serif;
  font-size: 25px;
}

.newInputDiv {
  position: inherit;
}

#label {
  display: inline-block;
}

/*
=======================================================
InputFields
=======================================================
*/

input {
  display: inline-block;
  width: 20%;
  padding: 5px 5px;
  margin: 5px 5px;
  border-radius: 5px solid black;
  outline: none;
}

.newInput {
  display: inline-block;
  position: inherit;
}

/*
=======================================================
Buttons
=======================================================
*/

button {
  padding: 5px 5px;
  border-radius: 5px;
}

.newBtn {
  margin: 10px;
  padding: 5px 5px;
  border-radius: 5px;
  position: inherit;
}

#clrAllBtn {
  display: flex;
  margin-left: 88%;
  margin-top: 1%;
}

/*
=======================================================
Error Message
=======================================================
*/

#errorDisplay {
  position: inherit;
  text-align: left;
  color: red;
  padding-left: 10px;
}

#submitDisplay {
  position: inherit;
  text-align: left;
  color: rgb(5, 136, 13);
  padding-left: 10px;
}

/*
=======================================================
Animation Gradient background 
=======================================================
*/

body,
section {
  background: linear-gradient(270deg, #0382b2, #414040);
  background-size: 400% 400%;

  -webkit-animation: gradientBackground 30s ease infinite;
  -moz-animation: gradientBackground 30s ease infinite;
  animation: gradientBackground 30s ease infinite;
}

@-webkit-keyframes gradientBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes gradientBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradientBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
